In [28]:
import numpy as np
from math import sqrt
import pandas as pd

In [3]:
critics={'Lisa Rose': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.5,
'Just My Luck': 3.0, 'Superman Returns': 3.5, 'You, Me and Dupree': 2.5,
'The Night Listener': 3.0},
'Gene Seymour': {'Lady in the Water': 3.0, 'Snakes on a Plane': 3.5,
'Just My Luck': 1.5, 'Superman Returns': 5.0, 'The Night Listener': 3.0,
'You, Me and Dupree': 3.5},
'Michael Phillips': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.0,
'Superman Returns': 3.5, 'The Night Listener': 4.0},
'Claudia Puig': {'Snakes on a Plane': 3.5, 'Just My Luck': 3.0,
'The Night Listener': 4.5, 'Superman Returns': 4.0,
'You, Me and Dupree': 2.5},
'Mick LaSalle': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,
'Just My Luck': 2.0, 'Superman Returns': 3.0, 'The Night Listener': 3.0,
'You, Me and Dupree': 2.0},
'Jack Matthews': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,
'The Night Listener': 3.0, 'Superman Returns': 5.0, 'You, Me and Dupree': 3.5},
'Toby': {'Snakes on a Plane':4.5,'You, Me and Dupree':1.0,'Superman Returns':4.0}}

In [4]:
critics['Mick LaSalle']

{'Just My Luck': 2.0,
 'Lady in the Water': 3.0,
 'Snakes on a Plane': 4.0,
 'Superman Returns': 3.0,
 'The Night Listener': 3.0,
 'You, Me and Dupree': 2.0}

In [9]:
critics['Mick LaSalle']['Superman Returns']

3.0

### Finding similar users

In [19]:
# Euclidean distance
def sim_distance(prefs, critic1, critic2):
    si = {}
    for film in prefs[critic1]:
        if film in prefs[critic2]:
            si[film] = 1
            
    if len(si) == 0: return 0
    
    similarity = sum([pow(prefs[critic1][film] - prefs[critic2][film],2) for film in si if si[film] == 1])
    
    return 1/(1 + sqrt(similarity))

In [20]:
sim_distance(critics,'Gene Seymour', 'Michael Phillips')

0.3405424265831667

In [72]:
fp = open('critics.csv','w+')
for critic1 in critics:
    for critic2 in critics:
        if critic1 != critic2:
            s = critic1+","+ critic2+","+ str(sim_distance(critics,critic1,critic2)) + "\n"
            fp.write(s)
fp.close()

In [76]:
open('critics.csv','r').readlines()

['Lisa Rose,Gene Seymour,0.29429805508554946\n',
 'Lisa Rose,Michael Phillips,0.4721359549995794\n',
 'Lisa Rose,Claudia Puig,0.38742588672279304\n',
 'Lisa Rose,Mick LaSalle,0.4142135623730951\n',
 'Lisa Rose,Jack Matthews,0.3405424265831667\n',
 'Lisa Rose,Toby,0.3483314773547883\n',
 'Gene Seymour,Lisa Rose,0.29429805508554946\n',
 'Gene Seymour,Michael Phillips,0.3405424265831667\n',
 'Gene Seymour,Claudia Puig,0.28172904669025317\n',
 'Gene Seymour,Mick LaSalle,0.27792629762666365\n',
 'Gene Seymour,Jack Matthews,0.6666666666666666\n',
 'Gene Seymour,Toby,0.25824569976124334\n',
 'Michael Phillips,Lisa Rose,0.4721359549995794\n',
 'Michael Phillips,Gene Seymour,0.3405424265831667\n',
 'Michael Phillips,Claudia Puig,0.5358983848622454\n',
 'Michael Phillips,Mick LaSalle,0.38742588672279304\n',
 'Michael Phillips,Jack Matthews,0.32037724101704074\n',
 'Michael Phillips,Toby,0.38742588672279304\n',
 'Claudia Puig,Lisa Rose,0.38742588672279304\n',
 'Claudia Puig,Gene Seymour,0.28172904669025317\n',
 'Claudia Puig,Michael Phillips,0.5358983848622454\n',
 'Claudia Puig,Mick LaSalle,0.31451985913875646\n',
 'Claudia Puig,Jack Matthews,0.32037724101704074\n',
 'Claudia Puig,Toby,0.3567891723253309\n',
 'Mick LaSalle,Lisa Rose,0.4142135623730951\n',
 'Mick LaSalle,Gene Seymour,0.27792629762666365\n',
 'Mick LaSalle,Michael Phillips,0.38742588672279304\n',
 'Mick LaSalle,Claudia Puig,0.31451985913875646\n',
 'Mick LaSalle,Jack Matthews,0.2857142857142857\n',
 'Mick LaSalle,Toby,0.4\n',
 'Jack Matthews,Lisa Rose,0.3405424265831667\n',
 'Jack Matthews,Gene Seymour,0.6666666666666666\n',
 'Jack Matthews,Michael Phillips,0.32037724101704074\n',
 'Jack Matthews,Claudia Puig,0.32037724101704074\n',
 'Jack Matthews,Mick LaSalle,0.2857142857142857\n',
 'Jack Matthews,Toby,0.2674788903885893\n',
 'Toby,Lisa Rose,0.3483314773547883\n',
 'Toby,Gene Seymour,0.25824569976124334\n',
 'Toby,Michael Phillips,0.38742588672279304\n',
 'Toby,Claudia Puig,0.3567891723253309\n',
 'Toby,Mick LaSalle,0.4\n',
 'Toby,Jack Matthews,0.2674788903885893\n']

In [108]:
scores = pd.read_csv('critics.csv',names=['Critic','Critic 2','Similarity'])
scores.head()

      Critic          Critic 2  Similarity
0  Lisa Rose      Gene Seymour    0.294298
1  Lisa Rose  Michael Phillips    0.472136
2  Lisa Rose      Claudia Puig    0.387426
3  Lisa Rose      Mick LaSalle    0.414214
4  Lisa Rose     Jack Matthews    0.340542

In [109]:
scores.sort_values('Similarity',ascending=False).head(10)

              Critic          Critic 2  Similarity
31     Jack Matthews      Gene Seymour    0.666667
10      Gene Seymour     Jack Matthews    0.666667
14  Michael Phillips      Claudia Puig    0.535898
20      Claudia Puig  Michael Phillips    0.535898
1          Lisa Rose  Michael Phillips    0.472136
12  Michael Phillips         Lisa Rose    0.472136
3          Lisa Rose      Mick LaSalle    0.414214
24      Mick LaSalle         Lisa Rose    0.414214
29      Mick LaSalle              Toby    0.400000
40              Toby      Mick LaSalle    0.400000

In [120]:
# top 10 most similar critics
top10 = scores.sort_values('Similarity',ascending=False).head(10).reset_index()
top10.index+=1

In [118]:
top10

    index            Critic          Critic 2  Similarity
1      31     Jack Matthews      Gene Seymour    0.666667
2      10      Gene Seymour     Jack Matthews    0.666667
3      14  Michael Phillips      Claudia Puig    0.535898
4      20      Claudia Puig  Michael Phillips    0.535898
5       1         Lisa Rose  Michael Phillips    0.472136
6      12  Michael Phillips         Lisa Rose    0.472136
7       3         Lisa Rose      Mick LaSalle    0.414214
8      24      Mick LaSalle         Lisa Rose    0.414214
9      29      Mick LaSalle              Toby    0.400000
10     40              Toby      Mick LaSalle    0.400000